.logo-text {
    color: #00b5e2;
    font-size: 37.645px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -3.292px;
    width: 5rem;
    margin-left: -1px;
}

.logo-line {
    position: absolute;
    width: 31.2px;
    top: 15.4px;
    left: 1.3px;
}
